.heading{
  
  color: #f4f80f;
  font-weight: bolder;
  font-size: 3rem;
  position: absolute;
  padding-top: 30px;
  padding-left: 0px;
  font-family: "algerian";
}
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  .mainbuttons{
      height: 300px;
      width: device-width;
      padding-left: 100px;
      padding-bottom: 380px;
      background-color: #f54291;
  }
  .menubtns
  {
  margin-top: 10px;
 
  }
  .menu{
    color: whitesmoke;
    padding-top: 10px;
    
  }
  .btn{
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .container-fluid{
    padding-top: 100px;
  }
  .toptop{
    margin-top: 70px;
  }
  hr{
    width: 30%;
    height: 10px;
  }
  .sec2{
    background-color: #faeee7;
  }
  .foter{
    background-color: rgb(100, 96, 96);
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .footrck{
    font-family: "algerian";
    color:#f4f80f ;
  }
